.posterDiv{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    height: 250px;
}
.posterImage{
    height: 200px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}
.posterImage:hover{
    transform: scale(1.1);
}
.row{
    width: 100%;
    padding-top: 35px;
    /* padding: 10px; */
}
.category{
    margin-left: 10px;
}