.navBar{
    background-color: black;
    height: 65px;
    width: 100%;
    z-index: 2;
    position: fixed;
}
.logoDiv{
    margin-left: 10px;
    width: 500px;
    height: 65px;
    display: inline;
    justify-content: center;
}
.navOptions{
    width: 400px;
    height: 65px;
    display: inline;
    float: right;
    padding-right: 15px;
    justify-content: center;
}
.searchInput{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 17px;
    background-color: #e4e4e4;
    color: black;
}
#searchIcon{
    color: #e4e4e4;
    position: absolute;
    font-size: 22px;
    margin-top: 20px;
    cursor: pointer;
}
#avatar{
    color: #e4e4e4;
    font-size: 40px;
    float: right;
    margin-top: 13px;
    cursor: pointer;
}
#logo{
    margin-top: 7px;
    color: #e4e4e4;
    cursor: pointer;
}
#avatar:hover{
    color: white;
}
#searchIcon:hover{
    color: white;
}
#logo:hover{
    color: white;
}
.searchInput:hover{
    background-color: white;
}